@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #252B42;
    font-family: "Roboto";
    width: 80%;
    margin: auto;
    padding-top: 10rem;
}
.smile{
    padding: 1.5rem;
    background-color: #E64040;
    border-radius: 12px;
}
.tick{
    padding: 1.5rem;
    background-color: #2DC071;
    border-radius: 12px;
}
.creditCard{
    padding: 1.5rem;
    background-color: #23A6F0;
    border-radius: 12px;
}
.whiteFont{
    color: #fff;
}
.lightButton{
    background-color: #23A6F0;
    border: none;
    border-radius: 12px;
    height: 3rem;
    width: 9rem;
}
.darkButton{
    background-color: #252B42;
    border: 2px solid #23A6F0;
    color: #23A6F0;
    border-radius: 12px;
    height: 3rem;
    width: 9rem;
}
.buttons{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.upper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.threeBoxes{
    margin-top: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.boxBott{
    background-color: #fff;
    padding: 3rem;
    box-sizing: border-box;
}
.buttonUnder{
    color: gray;
    
}
hr{
    height: 0.1rem;
    width: 3rem;
    background-color: #E64040;
    margin-left: 0;
}
.bold{
    font-weight: bold;
}
.hovering1:hover{
    background-color: #23A6F0;
}
.hovering2:hover{
    background-color: #E64040;
}
.hovering3:hover{
    background-color: #2DC071;
}